
.workBlock{
    min-height: 40vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: lemonchiffon;
}
.workContainer{
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid;
    width: 80%;
    text-align: center;
}

.remote{
    background-color: lightblue;
}
.button{
    margin-top: 20px;
}