.skillsBlock {
    min-height: 100vh;
    background-color: lightcyan;

}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    background-color: lightgrey;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;

}
.htmlLogo, .jsLogo, .reactLogo, .tsLogo, .nodeJSLogo, .pythonLogo{
    height: 60px;
    width: 100px;

}