.mainBlock {
    height: 100vh;
    background-color: aliceblue;
}

.text{
width: 350px;
    background-color: lightgrey;
    text-align: center;
}
.photo{
    width: 300px;
    height: 400px;
    background-color: lightgrey;
}