.mainBlock {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: aquamarine;

}


.text {
    width: 340px;
    background-color: lightgrey;
    text-align: center;
}
.photo {
    width: 300px;
    height: 400px;
}

.ava {
    width: 300px;
    height: 400px;
}