.projects {
    width: 500px;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.icon{
    height: 300px;
    width: 300px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    background-color: lightgreen;
}
.description{
    background-color: lightpink;
    text-align: center;
}